{% comment %}
  Password message which you can edit on http://www.shopify.com/admin/online_store/preferences

  default theme password comment is set to display: none
{% endcomment %}
<div class="password-body">
<div class="password-content">
  {% unless shop.password_message == blank %}
    <div class="password-message">
      {{ shop.password_message }}
    </div>
  {% endunless %}
</div>

{% if section.settings.newsletter_enable %}
  <div class="password-content password-content--rte">
    <p class="h4">
      {{ section.settings.newsletter_form_heading | escape }}
    </p>
    {% if section.settings.newsletter_form_subheading != blank %}
      <div class="password__form-subheading rte">{{ section.settings.newsletter_form_subheading }}</div>
    {% endif %}
  </div>
  {% form 'customer', id: 'ContactPassword', class: 'contact-form form-single-field' %}
    {%- assign formId = 'PasswordNewsletterForm' -%}
    <input type="hidden" name="contact[tags]" value="prospect, password page">
    <label for="{{ formId }}-email" class="label--hidden">{{ 'general.password_page.signup_form_email_label' | t }}</label>

    {%- if form.posted_successfully? -%}
      <p class="form-message form-message--success" tabindex="-1" data-form-status>
        {{ 'general.password_page.signup_form_success' | t }}
      </p>
    {%- endif -%}

    <div class="input-group{% if form.errors %} input-group--error{% endif %}">
        <input
          type="email"
          name="contact[email]"
          id="{{ formId }}-email"
          class="input-group__field {% if form.errors contains 'email' %} input--error{% endif %}"
          placeholder="{{ section.settings.newsletter_placeholder | escape }}"
          {%- if form.errors contains 'email' -%}
            aria-invalid="true"
            aria-describedby="{{ formId }}-email-error"
            data-form-status
          {%- endif -%}
        >
      <span class="input-group__btn">
        <button type="submit" name="commit" class="btn">
          <span>{{ section.settings.newsletter_button_text | escape }}</span>
        </button>
      </span>
    </div>
    {%- if form.errors contains 'email' -%}
      <span id="{{ formId }}-email-error" class="input-error-message">
        <span class="visually-hidden">{{ 'general.accessibility.error' | t }} </span>
        {% include 'icon-error' %}
        <span>{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}.</span>
      </span>
    {%- endif -%}

  {% endform %}
{% endif %}
</div>


{% comment %}
	Werkitt logo with bounce in animation
{% endcomment %}

<div class="section welcome-content">
  <img src="{{ 'werkitt_logo.png' | asset_img_url: '700x' }}" alt="Werkitt Logo" />
</div>
<div class="section welcome-intro theme-black">
  <div class="block block-one">
    <h2>Introducing <div class="logo"><img src="{{ 'werkitt-logo-title.png' | asset_img_url: '700x' }}" alt="Werkitt
    Logo"
        /></div>
    </h2>
    <h3>We deliver your office to your door.</h3>
    <h4>We make working remote a lot easier.</h4>
    <p>Werkitt is the home office solution.  Its okay, we all miss some parts of the office.  We pack up and send your
      workplace culture home.  The furniture and product can be paid for by you - the employer - and sent directly to</p>
  </div>
  <div class="block block-two">
    <h2>Build your best <span>werk.</span></h2>
    <h3>All realities welcome.</h3>
  </div>
</div>
<div class="section welcome-why-werkitt theme-white" style="display: none;">
  <div class="block-title">
    <h2><span>Why</span> you werkitt</h2>
  </div>
  <div class="block-content">
    <div class="item">
      <div class="item-image">{% include 'chair-office-light.svg.liquid' %}</div>
      <div class="item-content">
        <h3>True Ergonomic solutions.</h3>
        <p>Sending the office home means you send the flexibility of working while sitting or standing.</p>
      </div>
    </div>
    <div class="item">
      <div class="item-image">{% include 'concierge-bell-regular.svg.liquid' %}</div>
      <div class="item-content">
        <h3>Simple User Experience.</h3>
        <p>Options, but not too many.  Werkitt has partnerships with best-in-class manufacturers to provide your
          workforce ready to ship product for the best price.</p>
      </div>
    </div>
    <div class="item">
      <div class="item-image">{% include 'receipt-regular.svg.liquid' %}</div>
      <div class="item-content">
        <h3>No more expense sheets.</h3>
        <p>You now have access to your company card!  No more transactions on your dime.</p>
      </div>
    </div>
    <div class="item">
      <div class="item-image">{% include 'map-marker-smile-regular.svg.liquid' %}</div>
      <div class="item-content">
        <h3>Your company cares.</h3>
        <p>Increased employee happiness - care for employee well-being, comfort, and overall productivity.  Your
          workplace culture sent home.</p>
      </div>
    </div>
  </div>
</div>
<div class="section welcome-ready theme-black" style="display: none;">
  <div class="block-title">
    <h2><span>Ready</span> to get started?</h2>
  </div>
  <div class="block-content">
    <div class="item">
      <div class="item-image">{% include 'user-plus-solid.svg.liquid' %}</div>
      <div class="item-content">
        <h3>Sign your company up with <span>Werkitt.</span></h3>
        <p>The Werkitt team will help you seamlessly set up your team roster to have access and purchase the products only Werkitt provides.</p>
      </div>
    </div>
    <div class="item">
      <div class="item-image">{% include 'credit-card-solid.svg.liquid' %}</div>
      <div class="item-content">
        <h3>Find your Employee's Wallets.</h3>
        <p>Options but not too many.  Werkitt has partnerships with best-in-class manufacturers to provide your workforce ready to ship product for the best price.</p>
      </div>
    </div>
    <div class="item">
      <div class="item-image">{% include 'file-chart-line-regular.svg.liquid' %}</div>
      <div class="item-content">
        <h3>Werkitt reports accessible to you.</h3>
        <p>A simple management tool to review and keep track of all spending.  Buh-bye expense reports.</p>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": {
    "da": "Indhold",
    "de": "Inhalt",
    "en": "Content",
    "es": "Contenido",
    "fi": "Sisältö",
    "fr": "Contenu",
    "hi": "सामग्री",
    "it": "Contenuto",
    "ja": "コンテンツ",
    "ko": "콘텐츠",
    "nb": "Innhold",
    "nl": "Content",
    "pt-BR": "Conteúdo",
    "pt-PT": "Conteúdo",
    "sv": "Innehåll",
    "th": "เนื้อหา",
    "zh-CN": "内容",
    "zh-TW": "內容"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "label": {
        "da": "Vis tilmelding til nyhedsbrev",
        "de": "Newsletter Signup zeigen",
        "en": "Show newsletter signup",
        "es": "Mostrar suscripción al boletín",
        "fi": "Näytä uutiskirjeen tilaus",
        "fr": "Afficher l'inscription à la newsletter",
        "hi": "न्यूज़लेटर साइनअप दिखाएं",
        "it": "Mostra iscrizione alla newsletter",
        "ja": "ニュースレターの登録を表示する",
        "ko": "뉴스레터 신청 표시",
        "nb": "Vis nyhetsbrev-registrering",
        "nl": "Aanmelden voor nieuwsbrief weergeven",
        "pt-BR": "Exibir assinatura da newsletter",
        "pt-PT": "Mostrar registo na newsletter",
        "sv": "Visa nyhetsbrevsregistrering",
        "th": "แสดงการสมัครรับจดหมายข่าว",
        "zh-CN": "显示新闻通讯注册",
        "zh-TW": "顯示訂閱電子報"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "newsletter_form_heading",
      "label": {
        "da": "Overskrift til nyhedsbrevsformular",
        "de": "Newsletter-Formular Titel",
        "en": "Newsletter form heading",
        "es": "Título del formulario del boletín",
        "fi": "Uutiskirjelomakkeen otsikko",
        "fr": "Titre du formulaire d'inscription à la newsletter",
        "hi": "न्यूज़लेटर फ़ॉर्म का शीर्षक",
        "it": "Intestazione del modulo della newsletter",
        "ja": "ニュースレターフォームの見出し",
        "ko": "뉴스레터 양식 제목",
        "nb": "Skjemaoverskrift for nyhetsbrev",
        "nl": "Kop van nieuwsbriefformulier",
        "pt-BR": "Título do formulário da newsletter",
        "pt-PT": "Título do formulário da newsletter",
        "sv": "Nyhetsbrevsformulärrubrik",
        "th": "ส่วนหัวแบบฟอร์มจดหมายข่าว",
        "zh-CN": "标题中的新闻通讯",
        "zh-TW": "電子報表單標題"
      },
      "default": {
        "da": "Vær blandt de første til at få besked ved lancering.",
        "de": "Sei der Erste, der von unserem Launch erfährt.",
        "en": "Be the first to know when we launch.",
        "es": "Entérate de nuestros lanzamientos antes que los demás.",
        "fi": "Saa tieto julkistuksistamme ensimmäisenä",
        "fr": "Faites partie des premières personnes à être informées de notre lancement.",
        "hi": "हम कब लॉन्च करते हैं, यह पता करने वाले सबसे पहले व्यक्ति बनें.",
        "it": "Sii il primo a sapere quando effettueremo il lancio.",
        "ja": "ストアに関する最新情報をメールでお知らせします。",
        "ko": "출시 할 때 먼저 알아야합니다.",
        "nb": "Vær den første som får beskjed når vi lanserer.",
        "nl": "Kom als eerste te weten wanneer we van start gaan.",
        "pt-BR": "Seja o primeiro a saber quando lançarmos.",
        "pt-PT": "Seja o primeiro a saber quando é o lançamento.",
        "sv": "Var den första som vet när vi kör igång.",
        "th": "รับรู้ข่าวสารการเปิดตัวของเราก่อนใคร",
        "zh-CN": "成为第一批知道我们何时推出新内容的客户。",
        "zh-TW": "搶先收到產品發佈消息。"
      }
    },
    {
      "type": "richtext",
      "id": "newsletter_form_subheading",
      "label": {
        "da": "Underoverskrift",
        "de": "Unter-Überschrift",
        "en": "Subheading",
        "es": "Subtítulo",
        "fi": "Alaotsikko",
        "fr": "Sous-titre",
        "hi": "उपशीर्षक",
        "it": "Sottotitolo",
        "ja": "小見出し",
        "ko": "소제목",
        "nb": "Underoverskrift",
        "nl": "Subkop",
        "pt-BR": "Subtítulo",
        "pt-PT": "Subtítulo",
        "sv": "Underrubrik",
        "th": "หัวเรื่องย่อย",
        "zh-CN": "副标题",
        "zh-TW": "子標題"
      },
      "default": {
        "da": "<p>Reklamer, nye produkter og salg. Direkte i din indbakke.</p>",
        "de": "<p>Werbeaktionen, neue Produkte und Sonderangebote. Direkt in Ihrem Posteingang.</p>",
        "en": "<p>Promotions, new products and sales. Directly to your inbox.</p>",
        "es": "<p>Promociones, nuevos productos y ofertas. Directamente a tu bandeja de entrada.</p>",
        "fi": "<p>Kampanjat, uudet tuotteet ja myynti. Suoraan saapuneet-kansioosi</p>",
        "fr": "<p>Promotions, nouveaux produits et soldes. Directement dans votre boîte de réception.</p>",
        "hi": "<p>प्रमोशन, नए उत्पाद और सेल. सीधे आपके इनबॉक्स में.</p>",
        "it": "<p>Promozioni, nuovi prodotti e offerte. Direttamente nella tua casella di posta.</p>",
        "ja": "<p>新商品やセール情報などのお得な情報をお届けします。</p>",
        "ko": "<p>프로모션, 신제품, 판매. 받은 편지함으로 바로 이동.</p>",
        "nb": "<p>Kampanjer, nye produkter og salg. Direkte i innboksen din.</p>",
        "nl": "<p>Promoties, nieuwe producten en uitverkoop rechtstreeks in je inbox.</p>",
        "pt-BR": "<p>Promoções, novos produtos e vendas. Diretamente para sua caixa de entrada.</p>",
        "pt-PT": "<p>Promoções, novos produtos e ofertas. Diretamente na sua caixa de entrada.</p>",
        "sv": "<p>Kampanjer, nya produkter och försäljning. Direkt till din inkorg.</p>",
        "th": "<p>โปรโมชัน สินค้าใหม่ และการลดราคา ตรงสู่กล่องจดหมายเข้าของคุณ</p>",
        "zh-CN": "<p>促销、新产品和销售。直接发送到您的收件箱。</p>",
        "zh-TW": "<p>讓您直接在收件匣內收取促銷活動、最新產品和特賣活動訊息。</p>"
      }
    },
    {
      "type": "text",
      "id": "newsletter_placeholder",
      "label": {
        "da": "Pladsholdertekst til nyhedsbrev",
        "de": "Newsletter-Platzhalter Text",
        "en": "Newsletter placeholder text",
        "es": "Texto de marcador de posición del boletín",
        "fi": "Uutiskirjeen paikkamerkkiteksti",
        "fr": "Paramètre fictif de la newsletter",
        "hi": "न्यूज़लेटर प्लेसहोल्डर टेक्स्ट",
        "it": "Testo del segnaposto della Newsletter",
        "ja": "ニュースレターのプレースホルダーテキスト",
        "ko": "뉴스레터 플레이스 홀더 텍스트",
        "nb": "Plassholdertekst for nyhetsbrev",
        "nl": "Plaatsaanduidingstekst nieuwsbrief",
        "pt-BR": "Texto provisório da newsletter",
        "pt-PT": "Texto do marcador de posição da newsletter",
        "sv": "Nyhetsbrevets platshållartext",
        "th": "ข้อความตัวยึดตำแหน่งจดหมายข่าว",
        "zh-CN": "新闻稿占位符文本",
        "zh-TW": "電子報預留位置文字"
      },
      "default": {
        "da": "E-mailadresse",
        "de": "E-Mail-Adresse",
        "en": "Email address",
        "es": "Dirección de correo electrónico",
        "fi": "Sähköpostiosoite",
        "fr": "Adresse e-mail",
        "hi": "ईमेल पता",
        "it": "Indirizzo email",
        "ja": "メールアドレス",
        "ko": "이메일 주소",
        "nb": "E-postadresse",
        "nl": "E-mailadres",
        "pt-BR": "E-mail",
        "pt-PT": "Endereço de e-mail",
        "sv": "E-postadress",
        "th": "อีเมล",
        "zh-CN": "电子邮件地址",
        "zh-TW": "電子郵件地址"
      }
    },
    {
      "type": "text",
      "id": "newsletter_button_text",
      "label": {
        "da": "Knaptekst til nyhedsbrev",
        "de": "Newsletter-Button Text",
        "en": "Newsletter button text",
        "es": "Texto del botón del boletín",
        "fi": "Uutiskirjeen painiketeksti",
        "fr": "Texte du bouton de la newsletter",
        "hi": "न्यूज़लेटर बटन टेक्स्ट",
        "it": "Testo del pulsante Newsletter",
        "ja": "ニュースレターボタンのテキスト",
        "ko": "뉴스레터 버튼 텍스트",
        "nb": "Knappetekst for nyhetsbrev",
        "nl": "Tekst knop nieuwsbrief",
        "pt-BR": "Texto do botão da newsletter",
        "pt-PT": "Texto do botão da newsletter",
        "sv": "Nyhetsbrevsknapptext",
        "th": "ข้อความปุ่มจดหมายข่าว",
        "zh-CN": "新闻稿按钮文本",
        "zh-TW": "電子報按鈕文字"
      },
      "default": {
        "da": "Giv mig besked",
        "de": "Sag mir Bescheid",
        "en": "Notify me",
        "es": "Notificarme",
        "fi": "Ilmoita minulle",
        "fr": "Je souhaite être informé(e)",
        "hi": "मुझे सूचित करें",
        "it": "Avvisami",
        "ja": "通知を受け取る",
        "ko": "나에게 알리기",
        "nb": "Varsle meg",
        "nl": "Laat het me weten",
        "pt-BR": "Notifique-me",
        "pt-PT": "Notificar-me",
        "sv": "Meddela mig",
        "th": "แจ้งเตือนฉัน",
        "zh-CN": "通知我",
        "zh-TW": "通知我"
      }
    }
  ]
}
{% endschema %}
