<div class="password-content password-footer">
  {% if section.settings.show_share_buttons %}
    <div class="password-social-sharing">
      <p class="password__form-heading h4">{{ section.settings.social_message | escape }}</p>
      {% include 'social-sharing' %}
    </div>
  {% endif %}

  <div class="password-powered-by">
    <small>{{ powered_by_link }}</small>
  </div>
</div>


{% schema %}
{
  "name": {
    "da": "Sidefod",
    "de": "Fußzeile",
    "en": "Footer",
    "es": "Pie de página",
    "fi": "Alatunniste",
    "fr": "Pied de page",
    "hi": "फुटर",
    "it": "Footer",
    "ja": "フッター",
    "ko": "바닥글",
    "nb": "Footer",
    "nl": "Voettekst",
    "pt-BR": "Rodapé",
    "pt-PT": "Rodapé",
    "sv": "Sidfot",
    "th": "ส่วนท้าย",
    "zh-CN": "页脚",
    "zh-TW": "頁尾"
  },
  "settings": [
    {
      "type": "checkbox",
      "id": "show_share_buttons",
      "label": {
        "da": "Vis knapper til deling på sociale medier",
        "de": "Buttons für Social Media anzeigen",
        "en": "Show social sharing buttons",
        "es": "Mostrar botones para compartir en redes sociales",
        "fi": "Näytä sosiaalisen median jakamispainikkeet",
        "fr": "Affichez les boutons de partage sur les médias sociaux",
        "hi": "सोशल शेयरिंग बटन दिखाएं",
        "it": "Mostra i pulsanti per la condivisione sui social",
        "ja": "ソーシャルメディアでの共有ボタンを表示する",
        "ko": "소셜 공유 버튼 표시",
        "nb": "Vis knapper for deling på sosiale medier",
        "nl": "Knoppen voor sociaal delen weergeven",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Mostrar botões de partilha nas redes sociais",
        "sv": "Visa knappar för delning i sociala medier",
        "th": "แสดงปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "显示社交分享按钮",
        "zh-TW": "顯示社群分享按鈕"
      },
      "default": true
    },
    {
      "type": "text",
      "id": "social_message",
      "label": {
        "da": "Overskrift på knapper til deling på sociale medier",
        "de": "Titel für Social Media Buttons",
        "en": "Social sharing buttons heading",
        "es": "Título de botones para compartir en redes sociales",
        "fi": "Sosiaalisen median jakamispainikkeiden otsikko",
        "fr": "Titre des options de partage",
        "hi": "सोशल शेयरिंग बटन शीर्षक",
        "it": "Titolo dei pulsanti per la condivisione sui social",
        "ja": "ソーシャル共有ボタンの見出し",
        "ko": "소셜 공유 버튼 제목",
        "nb": "Overskrift til knapper for sosial deling",
        "nl": "Kop van knoppen voor delen via social media",
        "pt-BR": "Exibir botões de compartilhamento em redes sociais",
        "pt-PT": "Título dos botões de partilha nas redes sociais",
        "sv": "Knapprubrik för social delning",
        "th": "ส่วนหัวปุ่มสำหรับแชร์ลงโซเชียล",
        "zh-CN": "社交分享按钮标题",
        "zh-TW": "社交分享按鈕標題"
      },
      "default": {
        "da": "Spred budskabet",
        "de": "Mach Werbung",
        "en": "Spread the word",
        "es": "Corre la voz",
        "fi": "Levitä sanaa",
        "fr": "Faites passer le mot",
        "hi": "जानकारी अधिक लोगों तक पहुंचाएं",
        "it": "Spargi la voce",
        "ja": "情報を広く伝えましょう",
        "ko": "소문 내기:",
        "nb": "Spre ordet",
        "nl": "Vertel het verder",
        "pt-BR": "Divulgue a novidade",
        "pt-PT": "Passar a palavra",
        "sv": "Sprid meddelandet",
        "th": "ประกาศ",
        "zh-CN": "传播消息",
        "zh-TW": "四處宣傳"
      }
    }
  ]
}
{% endschema %}
